<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main-content.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>HomePage</title>

</head>
<body>
    {{> header}}
    
    <div class="main-content">
        <div class="main-content-inner-part">
            <div class="book-container">
                <div class="book-container-inner-part">
                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/5101/9781510105249.jpg" alt="">
                    <span class="book-title">Shadow and Bone: Now a Netflix Original Series</span>
                    <span class="book-auther">Leigh Bardugo</span>
                    <span class="book-rating">* * * * *</span>
                    <span class="book-price">15.05$</span>
                    <button class="book-atc">Add to cart</button>
                </div>
            </div>
            <div class="book-container">
                <div class="book-container-inner-part">
                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/7868/9781786892737.jpg" alt="">
                    <span class="book-title">The Midnight Library</span>
                    <span class="book-auther">Matt Haig</span>
                    <span class="book-rating">* * * * </span>
                    <span class="book-price">15.05$</span>
                    <button class="book-atc">Add to cart</button>
                </div>
            </div>
            <div class="book-container">
                <div class="book-container-inner-part">
                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/5101/9781510105263.jpg" alt="">
                    <span class="book-title">Shadow and Bone: Now a Netflix Original Series</span>
                    <span class="book-auther">Leigh Bardugo</span>
                    <span class="book-rating">* * * * *</span>
                    <span class="book-price">15.05$</span>
                    <button class="book-atc">Add to cart</button>
                </div>
            </div>
            <div class="book-container">
                <div class="book-container-inner-part">
                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/5101/9781510105256.jpg" alt="">
                    <span class="book-title">Shadow and Bone: Now a Netflix Original Series</span>
                    <span class="book-auther">Leigh Bardugo</span>
                    <span class="book-rating">* * * * *</span>
                    <span class="book-price">15.05$</span>
                    <button class="book-atc">Add to cart</button>
                </div>
            </div><div class="book-container">
                <div class="book-container-inner-part">
                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/2503/9781250316776.jpg" alt="">
                    <span class="book-title">Shadow and Bone: Now a Netflix Original Series</span>
                    <span class="book-auther">Leigh Bardugo</span>
                    <span class="book-rating">* * * * *</span>
                    <span class="book-price">15.05$</span>
                    <button class="book-atc">Add to cart</button>
                </div>
            </div>
            <div class="book-container">
                <div class="book-container-inner-part">
                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4711/9781471166204.jpg" alt="">
                    <span class="book-title">Shadow and Bone: Now a Netflix Original Series</span>
                    <span class="book-auther">Leigh Bardugo</span>
                    <span class="book-rating">* * * * *</span>
                    <span class="book-price">15.05$</span>
                    <button class="book-atc">Add to cart</button>
                </div>
            </div>
            <div class="book-container">
                <div class="book-container-inner-part">
                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/0620/9780062060624.jpg" alt="">
                    <span class="book-title">Shadow and Bone: Now a Netflix Original Series</span>
                    <span class="book-auther">Leigh Bardugo</span>
                    <span class="book-rating">* * * * *</span>
                    <span class="book-price">15.05$</span>
                    <button class="book-atc">Add to cart</button>
                </div>
            </div>
            <div class="book-container">
                <div class="book-container-inner-part">
                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/4395/9780439524711.jpg" alt="">
                    <span class="book-title">Shadow and Bone: Now a Netflix Original Series</span>
                    <span class="book-auther">Leigh Bardugo</span>
                    <span class="book-rating">* * * * *</span>
                    <span class="book-price">15.05$</span>
                    <button class="book-atc">Add to cart</button>
                </div>
            </div>
            <div class="book-container">
                <div class="book-container-inner-part">
                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4095/9781409581253.jpg" alt="">
                    <span class="book-title">Shadow and Bone: Now a Netflix Original Series</span>
                    <span class="book-auther">Leigh Bardugo</span>
                    <span class="book-rating">* * * * *</span>
                    <span class="book-price">15.05$</span>
                    <button class="book-atc">Add to cart</button>
                </div>
            </div>
            <div class="book-container">
                <div class="book-container-inner-part">
                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/0624/9780062457806.jpg" alt="">
                    <span class="book-title">Shadow and Bone: Now a Netflix Original Series</span>
                    <span class="book-auther">Leigh Bardugo</span>
                    <span class="book-rating">* * * * *</span>
                    <span class="book-price">15.05$</span>
                    <button class="book-atc">Add to cart</button>
                </div>
            </div>
        </div>
        <script src="js/menu-button.js"></script>
        
    </div>


</body>
</html>