<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main-content.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    {{> header}}
    <div class="main-content">
            <div class="main-content-inner-part-pro">
            <form>
                {{!-- <div class="container"> --}}
                <div class="profile-upper">
                        <h1>Profile</h1>
                        {{!-- <button class="">edit</button> --}}
                </div>
                  
                  <hr>

                    

                    <div class="profile-line">   
                        <label><b>Name: </b></label>
                        <label>{{userName}}</label>
                        <button id="nameEditButton">edit</button>
                    </div>
                    <div id="nameEditField" class="edit-line">
                        <input placeholder="Enter your new name" type="text" id="nameEditInput">
                        <button type="submit" id="nameSaveButton">save</button>
                    </div>




                    <div class="profile-line">   
                        <label><b>Email: </b></label>
                        <label>{{email}}</label>
                        <button id="emailEditButton">edit</button>
                    </div>
                    <div id="emailEditField" class="edit-line">
                        <input placeholder="Enter your new Email" type="text" id="emailEditInput">
                        <button id="emailSaveButton">save</button>
                    </div>


                    <div class="profile-line">   
                        <label><b>Password: </b></label
                        <label>******************</label>
                        <button id="pswEditButton">edit</button>
                    </div>
                    <div id="pswEditField" class="edit-line psw">
                        <input placeholder="Enter your new password" type="text"  id="psw1EditInput"><br>
                        <input placeholder="Repeat your password" type="text" id="psw2EditInput">
                        <p id="psw-warning-msg">You passwords must match and be greater than 7 chars</p>
                        <button id="pswSaveButton">save</button>
                    </div>
                {{!-- </div> --}}

            </form>
            <div class="profile-page-logout-buttons">
                <form method="POST" action="/profile/logoutAll"><button type="submit" class="registerbtn">Logout from all devices</button></form>
                <form method="POST" action="/profile/logout"><button type="submit" class="registerbtn">Logout</button></form>
            </div>
        </div>
    </div>
    
    <script src="profile-edit.js"></script>
</body>
</html>