<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main-content.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    {{> header}}
    
    <div class="main-content">
        <div class="main-content-inner-part">
            <form id="sign-up-form" method="POST" action="/sign-up">
                <div class="container">
                  <h1>Register</h1>
                  <p>Please fill in this form to create an account.</p>
                  <hr>

                  <label for="name"><b>Name</b></label>
                  <input type="text" placeholder="Enter First Name" name="name" id="name" required>

                  <label for="email"><b>Email</b></label>
                  <input type="text" placeholder="Enter Email" name="email" id="email" required>
                          
                  <label for="password"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="password" id="password" required>

                  <div id="emailErrorMSG" class="profile-line psw-warning-msg open-warning-msg">{{errorMSG}}</div>

                  <hr>
              
                  <p>By creating an account you agree to our Terms & Privacy.</p>
                  <button type="submit" class="registerbtn">Register</button>
                </div>
              
                <div class="container signin">
                  <p>Already have an account? <a href="/profile">Sign in</a>.</p>
                </div>
            </form>
            
        </div>
    </div>
    <script src="../js/menu-button.js"></script>
</body>
</html>