<div class="nav-container">
        <div class="navigation-bar">
            
            <div class="mobile-menu ">
                <button class="main-menu menu-butttonnnn">
                    <div class="menu-line" id="menu-line-top"></div>
                    <div class="menu-line" id="menu-line-middle"></div>
                    <div class="menu-line" id="menu-line-bottom"></div>
                </button>
                <div id="myLinks">
                    <a class="mobile-menu-search-container">
                        <input type="text" placeholder="Search for books by keyword / title /auther">
                        <button type="submit" id="mobile-menu-search-button"><i class="fa fa-search"></i></button>
                    </a>
                    <a href="#about">
                        <span>Cart </span>
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                    <a href="/profile">
                        <span>Profile  </span>
                        <i class="user-button fa fa-user"></i>
                    </a>
                    <a href="/sign-up">
                        <span>Sign in/Join  </span>
                        <i class="user-button fa fa-sign-in"></i>
                    </a>
                </div>
            </div>

            <div class="logo-container">
                <a href="/">
                <img class="header-logo" src="/pictures/Logo.png" alt="">
                    {{!-- <img class="header-logo" src="NODE-COURSE/book-store/public/pictures/Logo.png" alt=""> --}}
                </a>
            </div>

           <form class="search-container">
                <input type="text" placeholder="Search for books by keyword /title /auther">
                <button type="submit" class="search-button"><i class="fa fa-search fa-lg"></i></button>
           </form>
            <div class="header-user-button"  style="font-size: 24px;">
                <a href="/sign-up">
                    <button class="header-user-button-inner">
                        <i id="user" class="user-button fa fa-sign-in fa-lg"></i>
                        <!-- <span class="sign-in-button-inner-text"></span> -->
                    </button>
                </a>
                <a href="/profile">
                    <button class="header-user-button-inner">
                        <i id="user" class="user-button fa fa-user fa-lg"></i>
                        <!-- <span class="sign-in-button-inner-text"></span> -->
                    </button>
                </a>
                <button class="header-user-button-inner">
                    <i class="fa fa-shopping-cart fa-lg"></i>
                    <!-- <span class="sign-in-button-inner-text"></span> -->
                </button>
            </div>
            
        </div>
        
    </div>