@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
*{
    font-family: 'Open Sans Hebrew', serif;
}

html,body {
    margin:0;
    padding:0;
    /* font-family: Arial, Helvetica, sans-serif; */
}