.main-content
{
    width: 100vw;
    height: 100vh;
    margin-top: 76px;
}
.main-content-inner-part-pro
{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
.profile-line
{
    display: flex;
    flex-direction: row;
    width: 500px;
    line-height: 30px;
    padding-bottom: 10px;
    /* font-size: 20px; */
}
.profile-line label
{
    padding-right: 5px;
}
.profile-upper h1
{
    margin-top: unset;
}
.profile-line button
{
    height: 30px;

    float: right;
    position: absolute;
    right: 0px;
    background: #2196F3;
    color: white;
    cursor: pointer;
    border: none;
    width: 40px;
}
form input[type=text]
{
    background-color: #f1f1f1;
    padding-left: 10px;
    font-size: 15px;
    width: 50%;
    flex-direction: row;
    height: 28px;
    border: none;
}
.profile-upper
{
    line-height: 40px;
    display: flex;
    flex: row;
    margin-top:-30px;
    margin-bottom: -10px;
}
.edit-line
{
    display: none;
    align-items: center;
    padding-bottom: 10px;
}
.edit-line button
{
    width: 40px;
    height: 30px;
    float: right;
    background: #2196F3;
    color: white;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0px;
}
.psw
{
    display: none;
    flex-direction: column;
    align-items:unset;
}
.profile-page-logout-buttons
{
    padding-top: 20px;
}
.profile-page-logout-buttons button
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    
}
.profile-img
{
    display: flex;
    justify-content: center;
}
.profile-img img
{
    height: 300px;
    width: 300px;
}


.open
{
    display: flex;
}
#psw-warning-msg
{
    display: none;
    color: red;
}
.open-warning-msg
{
    display: unset !important;
}